
div.jumbotron {
    background-size: cover;
    background: linear-gradient(#0BC3E5, transparent 90%),
                linear-gradient(0deg, aliceblue, transparent),
                 #56541B url('../img/yoga.jpg') no-repeat center;
}

footer {
    background: #3E474A;
    color: white;
}

nav a {
    margin-right: 20px;
    letter-spacing: 1.8px;
}

p {
    margin-block-end: 0;
}

body {
    background: aliceblue;
}

:target:before {
    content:"";
    display:block;
    height:40px; /* fixed header height*/
    margin:-40px 0 0; /* negative fixed header height */
}

